    .lyrics{
    width: 100%;
    height: 60vh;
    color: #fff;
    text-align: center;
    overflow-Y: scroll;
    font-size: 2vh;
    display: flex;
   
 
  }
  .title
  {
    margin: 2%;
      color: grey ;
   
  }
  .imag
  {width: 20%;
    height: 20%;
  
	
        margin : 1% ;
  }
